# IntelliJ IDEA files.
**/*.iws
**/*.iml
**/.idea
**/*.ipr

# VSCode files.
.vscode/

# Java output directories.
**/target/

# Node modules
**/node_modules

# Log files
**/*.log

# Yarn build files
frontend/build

# Environment file
.env
